<nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width:95%;">
    <%= link_to "TinyThoughts", categories_path, :class => "navbar-brand mb-0 ml-10 h1 font-weight-bold" %>
    <%= button_to "signout", destroy_user_session_path, method: :delete, :class => "btn btn-danger" %>
  </div>
</nav>
<div class="p-3 mb-2 bg-secondary text-white vh-100">
<h1>Here are your categories, <%= current_user.email %> </h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <% @categories.each do |category| %>
    <tr>
      <td>
        <%= category.name %>
      </td>
      <td>
        <%= link_to("See category", category_path(category.id))%>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<h1>Here are your tasks due for today:</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.description %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

  <div class="w-100 p-3 d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary btn-sm"><%= link_to "Add new category", new_category_path, :class => "text-decoration-none text-white" %></button><br/><br/>
   </div>
<%= @test %>
</div>